Screen {
    align: center middle;
}

TxnWidget {
    width: 80%;
    height: 80%;
}

TxnListView {
    padding: 1;
    border: solid $accent;
    width: 1fr;
}

TxnView {
    width: 1fr;
    border: solid $accent;
}